{% extends 'base_restaurateur_page.html' %}

{% block title %}Необработанные заказы | Star Burger{% endblock %}

{% block content %}
  <center>
    <h2>Необработанные заказы</h2>
  </center>

  <hr/>
  <br/>
  <br/>
  <div class="container">
   <table class="table table-responsive">
    <tr>
      <th>ID заказа</th>
      <th>Статус</th>
      <th>Способ оплаты</th>
      <th>Стоимость заказа</th>
      <th>Клиент</th>
      <th>Телефон</th>
      <th>Адрес доставки</th>
      <th>Комментарий</th>
      <th>Рестораны</th>
      <th>Ссылка на админку</th>
    </tr>

    {% for item in order_items %}
      <tr>
        <td>{{item.id}}</td>
        <td>{{item.get_status_display}}</td>
        <td>{{item.get_payment_display}}</td>
        <td>{{item.total_price}} руб.</td>
        <td>
          {{item.firstname}}
          {% if item.lastname %}
            {{item.lastname}}
          {% endif %}
        </td>
        <td>{{item.phonenumber}}</td>       
        <td>{{item.address}}</td>
        <td>
            {% if item.notes %}
            <details style="max-width: 200px; word-wrap: break-word; white-space: normal;">
              <summary><a>Комментарий</a></summary>
              {{item.notes|linebreaksbr}}
            </details>
            {% endif %}
        </td>
        <td>
          {% if item.restaurant_branch %}
            {{item.restaurant_branch}}
          {% elif item.coords_found %}
            <details>
              <summary><a>Может быть приготовлен ресторанами:</a></summary>
                {% for restaurant, distance in item.distances.items %}
                  <li>{{ restaurant.name }} - {{ distance }} км.</li>
                {% endfor %}
            </details>
          {% else %}
            Адрес не найден
          {% endif %}
        </td>
        <td><a href="{% url 'admin:foodcartapp_order_change' item.id %}?next={{ next|urlencode }}">Редактировать</a></td>
      </tr>
    {% endfor %}
   </table>
  </div>
{% endblock %}
